## Recommending Shops

### Loading

In [1]:
import pandas as pd

In [2]:
users_df = pd.read_csv('users.csv')

In [3]:
shops_df = pd.read_csv('shops.csv')

In [4]:
prods_df = pd.read_csv('products.csv')
prods_df = prods_df.rename(columns={'shop_prouct_id': 'shop_product_id'})

In [5]:
orders_df = pd.read_csv('orders.csv')

In [6]:
cats_df = pd.read_csv('categories.csv')

### Query

In [9]:
user_id = 894037

In [10]:
users_df.loc[users_df['id'] == user_id]

         id  user_address_id gender  latitude  longitude
225  894037          1493704   male  35.67495    51.3469

In [11]:
orders_df.loc[orders_df['user_id'] == user_id]

,user_id,user_address_id,shop_id,shop_product_id,order_id,order_item_id,order_shipment_id,order_status,order_payable_price,order_discount,order_shipping_cost_total,order_checkout_status,order_item_quantity,order_item_payable_price,order_item_discount,order_shipment_status,order_shipment_delivery_status,rate,tags
2,894037,1493704,358,1196775,835307,2453495,790925,full_delivered,305000,225000,0,complete_paid,2,190248,124752,delivered,delivered,5,"[1, 2, 3, 4, 11]"
3,894037,1493704,358,1235647,835307,2453496,790925,full_delivered,305000,225000,0,complete_paid,1,114752,100248,delivered,delivered,5,"[1, 2, 3, 4, 11]"

In [12]:
shops_df.head()

,shop_id,name,has_available_products,available_products_count,is_open,rate,rate_count,rate_tags,preparation_time,cart_close_limit,service_radius,service_radius_critical,latitude,longitude
0,1,جت‌ مارت | میرداماد,1,1283,1,4.492411,8960,"{""1"":6781,""4"":5247,""2"":4702,""3"":4546,""11"":2735...",35,400000,3,1,35.76115,51.42338
1,6,یاران دریان دادمان,1,1597,1,3.270781,794,"{""1"":327,""4"":282,""6"":281,""3"":206,""2"":170,""11"":...",35,350000,3,2,35.76455,51.35117
2,8,یاران دریان لوکس | نیاوران,1,3181,1,4.174265,987,"{""1"":733,""4"":463,""3"":324,""11"":232,""2"":231,""14""...",35,350000,3,1,35.81390,51.46145
3,10,جت‌ مارت | تهران‌پارس,1,1042,1,4.473160,10041,"{""1"":7663,""4"":6192,""3"":5441,""2"":5125,""11"":3302...",35,350000,4,2,35.74524,51.52673
4,11,جت مارت | کاشانی,1,1194,1,4.475088,12263,"{""1"":9133,""4"":7814,""3"":6063,""2"":5620,""11"":3841...",35,350000,3,1,35.73002,51.31180

### Filter

In [13]:
import geopy.distance

In [14]:
user_lat = users_df.loc[users_df['id'] == user_id]['latitude'].tolist()[0]
user_long = users_df.loc[users_df['id'] == user_id]['longitude'].tolist()[0]

In [15]:
user_lat, user_long

(35.67495, 51.3469)

In [16]:
shops_lat = shops_df.latitude
shops_long = shops_df.longitude

In [17]:
dists = []
for s_lat, s_long in zip(shops_lat, shops_long):
    dist = geopy.distance.distance((s_lat, s_long), (user_lat, user_long)).km
    dists.append(dist)

In [18]:
shops_df['distance'] = dists

In [19]:
selected_shops_df = shops_df.loc[shops_df['distance'] < shops_df['service_radius']]

In [20]:
selected_shops_df = selected_shops_df.loc[selected_shops_df['has_available_products'] == 1]

In [21]:
selected_shops_df = selected_shops_df.loc[selected_shops_df['is_open'] == 1]

In [22]:
selected_shops_df

,shop_id,name,has_available_products,available_products_count,is_open,rate,rate_count,rate_tags,preparation_time,cart_close_limit,service_radius,service_radius_critical,latitude,longitude,distance
55,321,هایمارت سوپر رها,1,597,1,3.484043,376,"{""4"":178,""1"":164,""6"":128,""3"":123,""2"":105,""11"":...",35,350000,3,2,35.69076,51.36127,2.183859
56,323,هایمارت فروشگاه حسنوند,1,738,1,3.268456,298,"{""4"":140,""1"":117,""6"":102,""3"":85,""2"":68,""14"":68...",35,350000,3,2,35.68830,51.37029,2.584046
57,324,هایمارت فروشگاه مایلی,1,819,1,3.750515,485,"{""4"":281,""1"":257,""3"":189,""2"":172,""11"":147,""6"":...",35,350000,3,2,35.68780,51.36693,2.306622
62,358,جت‌ مارت | جی,1,978,1,4.393332,7889,"{""1"":5473,""4"":5290,""3"":4076,""2"":4026,""11"":2398...",35,350000,4,2,35.67568,51.35468,0.708979
82,451,نان کارون | تافتون,1,4,1,3.635135,296,"{""4"":151,""1"":138,""3"":131,""2"":125,""6"":106,""11"":...",35,150000,3,2,35.68315,51.36729,2.057901
108,615,هایمارت کوثری,1,1876,1,3.856306,2220,"{""4"":1300,""1"":1216,""3"":976,""2"":916,""11"":831,""6...",35,350000,3,1,35.68121,51.36756,1.995127
111,664,دیلی مارکت 1091 | خیابان هاشمی,1,832,1,2.926804,970,"{""6"":480,""4"":384,""1"":288,""3"":239,""2"":226,""11"":...",35,500000,3,1,35.68909,51.35557,1.754240
205,970,هفت دریا,1,134,1,1.000000,1,"{""1"":1,""4"":1,""11"":1,""14"":1}",80,300000,3,3,35.65780,51.32538,2.723474
348,1545,داروخانه نیوا مکمل,1,79,1,5.000000,3,"{""1"":3,""4"":3,""2"":1,""3"":1}",110,300000,3,3,35.65775,51.36266,2.382878
364,1649,فروشگاه محسن | امام خمینی,1,279,1,4.857143,7,"{""4"":6,""1"":4,""2"":3,""11"":2,""3"":2}",35,2000000,3,3,35.68650,51.35728,1.589094
367,1653,فروشگاه محسن | یافت آباد,1,340,1,4.100000,20,"{""4"":14,""1"":13,""11"":13,""2"":12,""3"":12,""14"":5,""6...",35,2000000,3,3,35.66050,51.33875,1.764929
373,1682,فروشگاه محسن | شمشیری,1,356,1,3.222222,9,"{""6"":7,""11"":4,""2"":3,""3"":3,""4"":3,""1"":2,""7"":1,""9...",35,2000000,3,3,35.67400,51.34431,0.257082

### Blind Score

In [23]:
top_rated_shops_df = selected_shops_df[['shop_id', 'rate']].sort_values(by='rate', ascending=False).reset_index()
top_rated_shops_df = top_rated_shops_df.drop('index', 1)

In [26]:
top_rated_shops_df

    shop_id      rate
0      1545  5.000000
1      1649  4.857143
2       358  4.393332
3      1653  4.100000
4       615  3.856306
5       324  3.750515
6       451  3.635135
7       321  3.484043
8       323  3.268456
9      1682  3.222222
10      664  2.926804
11      970  1.000000

In [27]:
shop_ids = top_rated_shops_df.shop_id.tolist()

In [28]:
shop_ids

[1545, 1649, 358, 1653, 615, 324, 451, 321, 323, 1682, 664, 970]

### User Specific Score

In [29]:
# top rated shops by the user

In [30]:
user_orders_df = orders_df.loc[orders_df.user_id == user_id]

In [31]:
user_orders_df

,user_id,user_address_id,shop_id,shop_product_id,order_id,order_item_id,order_shipment_id,order_status,order_payable_price,order_discount,order_shipping_cost_total,order_checkout_status,order_item_quantity,order_item_payable_price,order_item_discount,order_shipment_status,order_shipment_delivery_status,rate,tags
2,894037,1493704,358,1196775,835307,2453495,790925,full_delivered,305000,225000,0,complete_paid,2,190248,124752,delivered,delivered,5,"[1, 2, 3, 4, 11]"
3,894037,1493704,358,1235647,835307,2453496,790925,full_delivered,305000,225000,0,complete_paid,1,114752,100248,delivered,delivered,5,"[1, 2, 3, 4, 11]"

In [32]:
user_orders_df = user_orders_df.drop_duplicates(subset='order_id', keep='last')

In [33]:
top_bought_shops = user_orders_df.groupby(['shop_id']).size().to_frame('n_buy').reset_index()

In [34]:
top_bought_shops

   shop_id  n_buy
0      358      1

### Combine Scores

In [35]:
top_user_rated_shops = user_orders_df.groupby(['shop_id']).rate.mean().to_frame().reset_index()

In [36]:
top_user_rated_shops

   shop_id  rate
0      358     5

In [37]:
shop_scores = pd.merge(top_rated_shops_df, top_user_rated_shops, on=['shop_id'], how='outer',
                       suffixes=('_all', '_user'))
shop_scores = pd.merge(shop_scores, top_bought_shops, on=['shop_id'], how='outer')

In [38]:
average_shop_rate = shop_scores.rate_all.mean()

In [39]:
shop_scores.rate_user = shop_scores.rate_user.fillna(average_shop_rate)

In [40]:
average_shop_rate

3.6244964604783667

In [41]:
shop_scores.n_buy = shop_scores.n_buy.fillna(0)

In [42]:
top_bought_shops.columns

Index(['shop_id', 'n_buy'], dtype='object')

In [43]:
shop_scores[['total_score']] = shop_scores.rate_user + shop_scores.n_buy

In [44]:
top_bought_shops.rename({top_bought_shops.columns[1]: 'n_buy'})

   shop_id  n_buy
0      358      1

In [45]:
shop_scores = shop_scores.sort_values(by='total_score', ascending=False).reset_index()

In [46]:
shop_scores

    index  shop_id  rate_all  rate_user  n_buy  total_score
0       2      358  4.393332   5.000000    1.0     6.000000
1       0     1545  5.000000   3.624496    0.0     3.624496
2       1     1649  4.857143   3.624496    0.0     3.624496
3       3     1653  4.100000   3.624496    0.0     3.624496
4       4      615  3.856306   3.624496    0.0     3.624496
5       5      324  3.750515   3.624496    0.0     3.624496
6       6      451  3.635135   3.624496    0.0     3.624496
7       7      321  3.484043   3.624496    0.0     3.624496
8       8      323  3.268456   3.624496    0.0     3.624496
9       9     1682  3.222222   3.624496    0.0     3.624496
10     10      664  2.926804   3.624496    0.0     3.624496
11     11      970  1.000000   3.624496    0.0     3.624496

### Output

In [47]:
shop_ids = shop_scores.shop_id.tolist()

In [48]:
shop_ids

[358, 1545, 1649, 1653, 615, 324, 451, 321, 323, 1682, 664, 970]